.conf.json
log/*
!/log/.gitkeep
uoj_judger/builtin/checker/*
!uoj_judger/builtin/checker/*.cpp
!uoj_judger/builtin/checker/*.h
uoj_judger/builtin/judger/*
!uoj_judger/builtin/judger/*.cpp
!uoj_judger/builtin/judger/*.h
uoj_judger/data
uoj_judger/include/uoj_work_path.h
uoj_judger/main_judger
uoj_judger/run/*
!uoj_judger/run/*.cpp
!uoj_judger/run/*.h
uoj_judger/work/*
uoj_judger/result/*
!uoj_judger/work/.gitkeep
!uoj_judger/result/.gitkeep

